.carousel-container {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: transparent;

}

.carousel-item {
    height: 20rem;
    min-width: min-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: transparent;
}